{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/login.css")}}">
{% endblock css %}


{% block js %}
<script src="{{url_for("static", filename="js/login.js")}}" defer></script>
{% endblock js %}


{% block body_content %}
<main class="main-container">
	<h1 class="main-header">Log into your account!</h1>
	<p class="main-subtitle">Welcome back dear user.</p>

	<form action="/login" method="post">
		<input type="text" name="username" id="username" required placeholder="Username"/>
		<input type="password" name="password" id="password" required placeholder="Password" />
		
		<button>Log In</button>
	</form>
</main>
{% endblock body_content %}